
* {
	box-sizing: border-box;
}
html, body {
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	flex-direction: column;
    color: #484848;;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
}

#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.8); /* Black background with opacity */
    cursor: pointer; /* Add a pointer on hover */
}

.site_nav {
	position: absolute; 
	margin: 0 auto;
    display: flex; /* Hidden by default */
    width: 60%; /* Full width (cover the whole page) */
    height: 80%; /* Full height (cover the whole page) */
  	color: white;
  	text-decoration: none;
    z-index: 300; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

.sticky {
  position: sticky;
  top: 0;
  width: 100%
}

.header_section {
	background-color: white;	
	width:100%;
	padding: 20px;
}

.header_container {
	display: flex;
	flex-direction: row;
	align-items: center;
	max-width: 1200px;
	margin: 0 auto;
}

.bar-container {
	width: 100%;
	height: 100%;
}

.title {
	margin: 0;
	color: #484848;
	font-size: 20px;
}

.fa-pagelines {
	font-size: 18px;
	color: #4B8B3B;
	margin-right: 10px;
}

.fa-bars {
	color: #4B8B3B;
}

.nav_button{
	margin-left: auto;
}

.main_nav {
	position: fixed;
    display: none;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.nav_item {
	text-decoration: none;
	text-align: center;
	width: 90%;
	padding: 30px;
    color: white;
    font-size: 30px;
    cursor: pointer;
}

.nav_item:hover {
	text-decoration: underline;
}

.hero_section {
	display: flex;
	background-image: url('img/beauty-body-hands-56884.jpg');
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 400px;
}

.hero_overlay{
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	width: 100%;
	height: 100%;
	background-image: linear-gradient(to top right,   rgba(0,0,0,0), rgba(255,255,255,1));
}

.shade_overlay {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 40%;
	height: 100%;
	background-color: rgba(0,0,0,0.4); 
}

.hero_content {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 14px;
	color: white;
	margin: 0px;
}

.overlay_content {
	width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.photo_wrap {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	padding: 0px;
	margin: 0px;
}

.fa-google-plus-square {
	color: red;
}

.photo {
	height: 25px;
	width: 25px;
	background-image: url('img/photo.jpg');
	background-size: cover;
	margin-right: 5px;

}

.quote_wrapper {
	display: flex;
	flex-direction: row;
	font-style: italic;

}

.acccent_line {
    width: 20px;
    background-color: #4B8B3B;
    margin-right: 5px;

}

.author {
	margin: 0px;
}

.main_section {
	padding: 20px;
	padding-bottom: 0px;
}

.main_heading_wrapper {
	width: 100%;
}

.main_heading_image {
	background-image: url('img/crop.png');
	background-size: cover;
	background-position: center;
	height: 150px;
}

.main_overlay {
	display: flex;
	align-items: flex-end;
	height: 100%;
	width: 100%;
	background-image: linear-gradient(to left,   rgba(0,0,0,0.2), rgba(0,0,0,0.5));
}

.main_heading {
	padding: 20px;
	margin: 0;
	width: 60%;
	color: #484848;
	color: white;
	font-size: 18px;
}

.main_heading_alt{
	padding: 20px;
	margin: 0;
	width: 60%;
	color: #484848;
	color: white;
}

.main_content {
	margin: 0;
	padding: 20px;
	width: 80%;
	color: #484848;
}

.lines {
	height: 1px;
    background-color: white;
    width: 100%;
    margin: 0 auto;
}

.main_para {
	padding: 0px 20px;
}

.main_link{
	color: #484848;
	text-decoration: none;
	font-style: italic;
	cursor: pointer;
}

.main_list{
	margin: 0px;
	padding-bottom: 20px;
}

.list_item{

}

.sandal {
	background-color: #A2846B;
	color: white;
	width: 100%;
	border-radius: 5px;
	margin-bottom: 20px;
}

.nat_green {
	background-color: #4B8B3B;
	color: white;
	width: 100%;
	border-radius: 5px;
	margin-bottom: 20px;
}

.white {
	background-color: white;
	width: 100%;
	border-radius: 5px;
	padding-bottom: 0px;
}

.star_wrapper{
	width: 60%;
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
	color: #B8860B;
	align-items: center;
	padding: 20px 0px;
}

.star_wrapper_alt{
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
	color: #B8860B;
	align-items: center;
	margin: 5px;
	font-size: small;
}

.large_star{
	font-size: 24px;
}

.main_testimonial{
	padding-top: 20px;
	width:80%;
	margin: 0 auto;
}

.fa-quote-right {
	margin-left: 5px;
}

.fa-quote-left {
	margin-right: 5px;
}

.quote{
	padding-top: 0px;
	padding-left: 20px;
	padding-bottom: 20px;
}

.main_service_section {
	display: flex;
	flex-direction: column;
	padding: 20px;
}



.embed_container{
	display: flex;
	width: 100%;
	justify-content: center;
}

.map {
	width: 100%;
	height:300px;
}

.footer-icons {
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

.social-icon-wrapper {
	display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
	background-color: #484848;
    margin-bottom: 25px;
    height: 50px;
}

#face:hover {
	background-color: #3B5998;
	cursor: pointer;
}

#twit:hover {
	background-color: #00aced;
	cursor: pointer;
}

#goog:hover {
	background-color: #d34836;
	cursor: pointer;
}

#in:hover {
	background-color: #0077B5;
	cursor: pointer;
}

.footer-icons {
	display: flex;
	flex-direction: row;
}

.footer_section {	
	width: 100%;
	background-color: #A2846B;
	color: white;
}

.footer-inner {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	max-width: 1200px;
	margin: 0 auto;
	padding: 20px;
	padding-top: 0px;
	line-height: 10px;
}

.footer-contact{
	display: flex;
	flex-direction: column;
}

.footer-contact > p {
	margin: 5px 0px;
	}

.contact_wrapper{
	display: flex;
	align-items: center;
}

.contacts{
	display: flex;
	align-items: center;
	margin:5px 0px;
	text-decoration: none;
	color: white;
}

.contacts:hover{
	color: blue;
}

.fa-envelope {
	margin: 5px 5px 5px 0px;
}
.fa-mobile-alt {
	margin: 5px 5px 5px 0px;
}